{% extends "base.html" %}
{% block content %}
        <p>{{task.title}}</p>
        <p>{{task.discription}}</p>

<div class='comments'>
        <h3>Comments</h3>
        {% for comment in task.comments.all %}
        <p>{{ comment.author.username }}</p>
        <p>{{ comment.content }}</p>
        <p>{{ comment.created_at }}</p>
        {% empty %}
        <p>Коментарів немає</p>
        {% endfor %}
</div>
<div class="add">
        <p>Додати комантар</p>

    <form method="POST" action="{% url 'task-detail' task.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p}}
        <button type='submit'>SUMBIT</button>
    </form>


</div>
{% endblock %}